@page
<div class="text-center">
    <h2>Спасибо!</h2>
    <p>Спасибо за заказ #@OrderId</p>
    <p>Тут еще какой нить текст.</p>
    <a class="btn btn-primary" asp-controller="Home">Вернуться к покупкам</a>
</div>
@functions {
    [BindProperty(SupportsGet = true)]
    public string OrderId { get; set; }
}